@font-face {
    font-family: 'AvenirLTStd Roman';
    src: url('../font/AvenirLTStd Roman.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro Bold';
    src: url('../font/AvenirNextLTPro Bold.otf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #000;
    padding-top: 20px;
    font-size: 16px;
    font-weight: lighter;
    font-family: "AvenirLTStd Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #bcbcbc;
}

.footer h3 {
    font-weight: bolder;
    font-size: 36px;
    font-family: "AvenirNextLTPro Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 48px;
    text-align: left;
    background: url("../img/bluebar.png") no-repeat left bottom;
    padding-bottom: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.footer .footer-bottom {
    border-top: 1px solid #4b4b4b;
    padding: 20px 0px;
    margin-top: 50px;
}

.footer .sns i.fa {
    font-size: 32px;
    color: #c4c4c4;
}

.footer .sns a:hover i.fa {
    color: #ffffff;
}

a,
a:hover {
    text-decoration: none;
}

a.more {
    padding: 0px 50px 0px 20px;
    display: inline-block;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    background: #62c6e7 url("../img/moreArray.png") no-repeat right center;
    color: #fff;
}

a.more:hover {
    color: #bbe4f3;
}

.container {
    width: 1200px;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-brand {
    display: inline-block;
    width: 231px;
    height: 140px;
    overflow: hidden;
    text-indent: -9999px;
    background: url("../img/logo.png") no-repeat center;
}

.navbar-inverse {
    background-color: #000;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: "AvenirLTStd Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #62c6e7;
    background: none;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 70px;
        padding-bottom: 45px;
    }
}

.slide-box {
    width: 100%;
    height: 680px;
    background: #dedede url("../tmp/focus.jpg") no-repeat center;
}

.overview {
    width: 1200px;
    height: 754px;
    margin: 0 auto;
}

.overview-left {
    width: 300px;
    height: 754px;
    float: left;
}

.overview-right {
    width: 900px;
    height: 754px;
    float: right;
}

.overview-column {
    width: 900px;
    height: 377px;
    display: flex;
}

.overview-column-1 {
    flex: 1;
}

.overview-column-2 {
    flex: 2;
}

.box {
    margin-bottom: 70px;
}

.box .box-header {
    font-weight: bolder;
    font-size: 36px;
    font-family: "AvenirNextLTPro Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 72px;
    text-align: center;
    background: url("../img/bluebar.png") no-repeat center bottom;
    margin-bottom: 70px;
}

.box .box-body {

}

.column-list {
    display: flex;
}

.column-flex-1 {
    flex: 1;
    margin-right: 33px;
}

.column-flex-1 img {
    width: 100%;
    opacity: 0.8;
}

.column-flex-1 img:hover {
    opacity: 1;
}

.column-flex-1 p {
    display: block;
    line-height: 72px;
    font-size: 16px;
}

.column-list .column-flex-1:last-child {
    margin-right: 0px;
}

.about-us {
    background-color: #ffffff;
    padding: 55px 0px 75px;
}

.about-us .left-item {
    float: left;
    width: 676px;
    height: 488px;
    background: url("../img/about-us.jpg") no-repeat right;
}

.about-us .right-item {
    float: right;
    width: 430px;
    height: 488px;
    position: relative;
}

.about-us .right-item h3 {
    font-family: "AvenirNextLTPro Bold", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0px 0px 45px;
}

.about-us .right-item p {
    font-size: 16px;
    line-height: 22px;
    font-family: "AvenirLTStd Roman", Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.about-us .right-item .more {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.service {
    background-color: #f5f5f5;
}

.oem {
    background: #030201 url("../img/oem.jpg") no-repeat center;
}

.oem .box-body {
    height: 321px;
}

.our-clients {
    display: flex;
}

.our-clients .client-item {
    flex: 1;
    margin-right: 20px;
    border: 1px solid #cecece;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.our-clients .client-item:last-child {
    margin-right: 0;
}

.our-clients .client-item-1 {
    background-image: url("../tmp/client1.jpg");
}

.our-clients .client-item-2 {
    background-image: url("../tmp/client2.jpg");
}

.our-clients .client-item-3 {
    background-image: url("../tmp/client3.jpg");
}

.our-clients .client-item-4 {
    background-image: url("../tmp/client4.jpg");
}

.our-clients .client-item-5 {
    background-image: url("../tmp/client5.jpg");
}

.product-detail .row {
    margin-bottom: 60px;
}

.product-detail .preview {
    margin-bottom: 10px;
}

.product-detail .preview img {
    width: 100%;
}

.preview-list {
    height: 80px;
}

.preview-list a {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #d3d3d3;
    margin-right: 10px;
    margin-bottom: 10px;
}

.preview-list a img {
    width: 78px;
    height: 78px;
}

.product-list {
}

.product-list ul {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-list li {
    display: inline-block;
    width: 266px;
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
}

.product-list li .preview {
    display: block;
    width: 266px;
    height: 266px;
    padding: 4px;
    border: 1px solid #dcdcdc;
    text-align: center;
}

.product-list li .preview img {
    width: auto;
    height: 256px;
}

.product-list li h3 {
    font-size: 14px;
    line-height: 30px;
}

.product-list li .to-cart {
    display: inline-block;
    line-height: 25px;
    background: #000000;
    border-radius: 12px;
    padding: 0 20px;
    color: #ffffff;
    margin: 10px 0;
}